<br>

<h1>
    Privacy Policy for ASKBIZI FOR PUBLIC RELATIONS MANAGEMENT CO.
</h1>

<p>
    When accessing our website www.askbizi.com, one of our main priorities is
    the privacy of our visitors.
</p>
<p>
    This Privacy Policy document contains types of information that is collected
    and recorded by ASKBIZI for Public Relations Management Co. and how we use
    it.
</p>
<p>
    If you have additional questions or require more information about our
    Privacy Policy, do not hesitate to contact us.
</p>
<p>
    This Privacy Policy applies only to our online activities and is valid for
    visitors who are accessing our website with regards to the information that
    they share and/or is collected by the ASKBIZI for Public Relations
    Management Co., sole website under the domain www.askbizi.com. This policy
    is not applicable to any information collected offline or via channels other
    than this website.
</p>
<p>
    This website usage privacy policy was last updated on 12 September 2023.
</p>
<br>

<h3>Consent</h3>

<p>
    By using our website, you hereby consent to our Privacy Policy and agree to
    its terms.
</p>
<br>
<h3>Information we collect</h3>

<p>
    The personal information that you are asked to provide, and the reasons why
    you are asked to provide it, will be made clear to you at the point we ask
    you to provide your personal information.
</p>
<p>
    If you contact us directly, we may receive additional information about you
    such as your name, email address, phone number, the contents of the message
    and/or attachments you may send us, and any other information you may choose
    to provide.
</p>
<br>

<h3>How we use your information</h3>

<p>
    We use the information we collect in various ways, including to:
</p>
<ul>
    <li>
        Provide, operate, and maintain our website.
    </li>
    <li>
        Improve, personalize, and expand our website.
    </li>
    <li>
        Understand and analyze how you use our website.
    </li>
    <li>
        Develop new products, services, features, and functionality.
    </li>
    <li>
        Communicate with you, either directly or through one of our partners,
        including for customer service, to provide you with updates and other
        information relating to the website, and for marketing and promotional
        purposes.
    </li>
    <li>
        Send you emails.
    </li>
    <li>
        Find and prevent fraud.
    </li>
</ul>

<br>
<h3>Log Files</h3>

<p>
    ASKBIZI for Public Relations Management Co. follows a standard procedure of
    using log files. These files log visitors when they visit websites. All
    hosting companies do this and a part of hosting services’ analytics. The
    information collected by log files include internet protocol (IP) addresses,
    browser type, Internet Service Provider (ISP), date and time stamp,
    referring/exit pages, and possibly the number of clicks. These are not
    linked to any information that is personally identifiable. The purpose of
    the information is for analyzing trends, administering the site, tracking
    users’ movement on the website, and gathering demographic information.
</p>

<br>
<h3>Cookies</h3>

<p>
    Our website uses ‘cookies’. These cookies are used to store information
    including visitors’ preferences, and the pages on the website that the
    visitor accessed or visited. <br/>
    A cookie file can contain a variety of information, including:
</p>
<ul>
    <li>
        The name of the website that created the cookie
    </li>
    <li>
        The cookie's expiration date
    </li>
    <li>
        The cookie's value, which is usually a string of text
    </li>
    <li>
        The domain name of the website that created the cookie
    </li>
    <li>
        The path of the cookie (the part of the website that the cookie is
        associated with)
    </li>
    <li>
        The secure flag, which indicates whether the cookie should only be sent
        over secure connections
    </li>
    <li>
        The SameSite attribute, which indicates whether the cookie should be
        sent to third-party websites
    </li>
</ul>
<p>
    In addition to these basic properties, cookies can also be used to store
    other types of information, such as:
</p>
<ul>
    <li>
        User preferences
    </li>
    <li>
        Shopping cart contents
    </li>
    <li>
        Login status
    </li>
    <li>
        Advertising preferences
    </li>
    <li>
        Tracking information
    </li>
</ul>
<p>
    The information is used to optimize the users’ experience by customizing our
    web page content based on visitors’ browser type and/or other information.
</p>

<br>
<h3>Third Party Privacy Policies</h3>

<p>
    At ASKBIZI for Public Relations Management Co. website we do not have
    third-party advertising but might include links to social media platforms or
    other third-party websites and hence, our Privacy Policy does not apply to
    other websites.
</p>
<br><h3>Legal basis for processing your personal information.</h3>
<p>
    We undertake to respect the confidentiality of your Personal Data and to
    guarantee you can exercise your rights.
</p>
<p>
    We use your personal data only with your consent or knowledge. We also
    process your personal data for our legitimate interest or where is required
    or permitted by law.
</p>
<br><h3>Changes To Our Privacy Policy</h3>
<p>
    We may change this privacy policy from time to time. We will post any
    privacy policy changes on this page. We strongly encourage you to review our
    privacy policy whenever you use our services to stay informed about our
    information practices and the ways you can help protect your privacy.
</p>
<br><h3>Contact us</h3>
<p>
    If you have any questions about this Privacy Policy, please contact us.
</p>
<div>
    <br/>
</div>